.form-fields-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.client-step {
  .dir-input {
    grid-column: span 2;
  }
}

/* panel views */

.panel {
  border: 2px solid #e6ebf6;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;

  margin-bottom: 20px;
  background-color: #fff;
}

.panel-heading {
  color: #8099d0;
  background-color: #f2f5fa;
  border-bottom: 2px solid #e6ebf6;
  font-weight: 300;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  padding: 15px;
}

.p-text-container {
  text-wrap: wrap;
  font-size: 14px;
}


