.main-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar navbar"
    "main sidebar";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar navbar"
      "main main";
  }
}

.navbar {
  grid-area: navbar;
  box-shadow: -4px 1px 2px 0 #00000052;
  z-index: 1;
}

.main-container {
  grid-area: main;
  overflow: auto;
  background-color: #ececec;
}

.sidebar {
  grid-area: sidebar;
}

.card {
  width: 400px;
  margin: 30px;
}
