:root {
  --bg-blue: #0033a0;
  --color-gray: #ececec;
  --color-success: #81d320;
}

/* --------------------------------- globals -------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--bg-blue);
  font-family: "Roboto", sans-serif;
}

h1,
.h1 {
  font-weight: 300;
}

p,
th,
td {
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

a,
i,
.btn,
.radio-enhanced label {
  transition: ease all 0.5s;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:hover {
  background-color: #67a91a;
  border: 2px solid #67a91a;
  color: #fff;
}

.form-control:focus,
input[disabled].form-control:focus {
  border-color: #8099d0;
  outline: 0;
  box-shadow: none;
}

.bg-blue {
  background-color: var(--bg-blue);
}

.text-blue {
  color: var(--bg-blue);
}

.btn {
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
  padding: 9px 12px;
}

.btn-success {
  background-color: var(--color-success);
  border: 2px solid var(--color-success);
  color: #fff;
}

.text-success {
  color: var(--color-success) !important;
}

.lead {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 1.4;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

h4,
.h4 {
  font-weight: 400;
}

/* ----------------------------- form templates ----------------------------- */

.form-control {
  padding: 6px 12px;
}

.form-control,
input[disabled].form-control,
.form-select {
  height: 45px;
  font-size: 16px;
  color: #545453;
  border: 2px solid #e6ebf6;
  border-radius: 4px;
  box-shadow: none;
  background-color: #fff;
}

label {
  max-width: 100%;
  font-weight: 700;
  font-size: 12px;
  color: var(--bg-blue);
  margin-bottom: 5px !important;
}

select.form-select {
  appearance: none;
  --bs-form-select-bg-img: url("../images/select-inputs.svg");
  background-image: url("../images/select-inputs.svg") !important;
  background-size: 10px !important;
}

.invalid-feedback {
  margin-top: 0.25rem;
  font-size: 12px;
  color: #dc3545;
}
