:root {
  --bs-blue: rgb(42, 106, 170);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  box-shadow: 0 1px 2px 0 #0000001a;
}

.bg-blue {
  background-color: var(--bs-blue);
}

.text-blue {
  color: var(--bs-blue);
}
